<%= form_for([@post, @post.comments.build]) do |form| %>

  <div class="field">
    <%= form.label :body %>
    <div class="control">
      <%= form.text_area :body, class:"input" %>
    </div>
    
  </div>

  <div class="field">
    <%= form.label :post_id, class:"label" %>
    <div class="control">
      <%= form.text_field :post_id, class:"input" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>