
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="columns is-centered">
    <div class="column is-6">
      <div class="card">
        <header class="card-header">
          <h2>Log in</h2>
        </header>
        <div class="card-content">
          <div class="content">
            <div class="field">
              <%= f.label :email, class:"label" %>
              <div class="control">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input" %>
              </div>
            </div>
            <div class="field">
              <%= f.label :password, class:"label" %>
              <div class="control">
                <%= f.password_field :password, autocomplete: "current-password", class:"input" %>
              </div>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
            <div class="actions">
              <%= f.submit "Log in", class:"button is-success" %>
            </div>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
