<h1>Posts</h1>
<div class="columns is-centered">
  <div class="column is-9">
    <% @posts.each do |post| %>
    <div class="card mx-5 my-4">
    <header class="card-header">
      <%= post.user.email %>
    </header>
    <div class="card-content">
      <%= post.title %><br>
      <%= post.body %><br>
      <img src="<%= post.image %>"/>
      <div class="section has-background-light">
        <div>
          <%= post.comments.count %> Comments
        </div>
        <% post.comments.each do |comment| %>
          <div class="columns">
            <div class="column is-10">
              <strong>
              <%= comment.user.email %>:
              </strong>
              <%= comment.body %>
              </div>
              <div class="column is-2 is-centered">
                <%= link_to 'Delete', [comment.post, comment], method: :delete, class:"button is-danger", data: {confirm: "Are you sure you want to delete this comment"}%>
              </div>
          </div>
        <% end %>
      </div>
    </div>
    <footer class="card-footer">
      <div class="card-footer-item">
        <%= link_to 'Comment', post, class:"button is-link mx-5" %>
      </div>
      <div class="card-footer-item">
        <%= link_to 'Edit', edit_post_path(post), class:"button is-link mx-5" %>
      </div>
      <div class="card-footer-item">
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class:"button is-danger mx-5" %>
      </div>
    </footer>
    </div>
    <% end %>
  </div>
</div>
    
<%= link_to 'New Post', new_post_path, class:"button is-success" %>
