<!DOCTYPE html>
<html>
  <head>
    <title>MicroReddit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <%= render 'posts/header' %> 
    </div>
    <div class="container">
    <% if notice %>
      <p id="notice" class="has-background-warning"><%= notice %></p>
    <% end %>
      <%= yield %> 
    </div>
  </body>
</html>
